/* BASE CSS STYLING */
body{
    font-family: sans-serif;
    background-color: rgb(231, 231, 231);
}
.logo img{
    height: 100px;
    margin-top: -35px;
}
header{
    top: 0px;
    margin-bottom: 15px;
    position: sticky;
    padding-top: 20px;
    padding-left: 4.5%;
    padding-right: 4.5%;
    display: flex;
    justify-content: space-between;
    /* margin: 25px; */
    margin: -6px;
    height: 45px;
    background-color: white;
    box-shadow: 0px 0.1px 10px 0.2px;
}
.search{
    padding-left: 20px;
    padding-right: 350px;
    background-color: rgb(238, 245, 255);
    height: 35px;
    padding-top: 15px;
    margin-top: -13px;
    border-radius: 10px;
}
.search-text{
    padding-left: 10px;
    font-size: 18px;
    color: rgb(124, 124, 124);
}
.login{
    padding-left: 7px;
    padding-right: 7px;
}
.login-button{
    /* background-color: #2a55e5; */
    border-radius: 10px;
    padding-top: 15px;
    height: 35px;
    margin-top: -13px;
    padding-left: 15px;
    padding-right: 15px;

}
.login-button:hover{
    background-color: #2a55e5;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}
.cart{
    border-radius: 10px;
    padding-top: 15px;
    height: 35px;
    margin-top: -13px;
    padding-left: 15px;
    padding-right: 15px;
}
.cart:hover{
    cursor: pointer;
}
.seller{
    border-radius: 10px;
    padding-top: 15px;
    height: 35px;
    margin-top: -13px;
    padding-left: 15px;
    padding-right: 15px;
}
.seller:hover{
    cursor: pointer;
}
.dots{
    border-radius: 10px;
    padding-top: 15px;
    height: 35px;
    margin-top: -13px;
    padding-left: 15px;
    padding-right: 15px;
}
.dots:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.073);
    border-color: black;
    border-width: .3;
}
.footer1{
    margin: -8px;
    margin-bottom: -10px;
    color: white;
    margin-top: 50px;
    background-color: #212121;
    /* height: 300px; */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 50px;
}
.part1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 60px;
}
.part1>div{
    padding-left: 20px;
    padding-right: 20px;
}
.part2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left: solid;
    padding-left: 40px;
    border-width: .1px;
    border-color: #4e4e4e;
}
.part2>div{
    padding-left: 20px;
    padding-right: 20px;
}
.footer-head{
    margin-bottom: 15px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.614);
}
.content{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
}
.handles span{
    padding-right: 20px;
}
.footer2{
    background-color: #212121;
    /* height: 100px; */
    border-top: solid;
    border-width: .1px;
    border-color: #4e4e4e;
    margin-left: -10px;
    margin-top: 10px;
    width: 91.31vw;
    margin-bottom: -10px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
}
.footer2 .footer2-head{
    padding-left: 10px;
    color: white;
    font-size: 13px;
}
#ficons{
    color: goldenrod;
    font-size: 12px;
}
a{
    text-decoration: none;
}
article{
    color: grey;
    /* margin-top: 750px; */
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
    font-size: 11px;
}
link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}


/* IPHONE PAGE CSS STYLING */

.iphone-16{
    background-color: white;
    padding: 20px;
    display: flex;
    /* width: 50%; */
    justify-content: center;
    border-bottom: solid rgb(208, 208, 208);
}
.card-left img{
    margin-bottom: 5px;
    width: 250px;
}
.bi-heart-fill{
    margin-top: 10px;
}
.card-content{
    width: 450px;
    margin-left: 20px;
}
.title{
    font-size: 20px;
    font-weight:600;
    margin-bottom: 5px;
}
.rating-review{
    display: flex;
    align-items: center;
}
.rating{
    display: inline-block;
    background-color: green;
    color: white;
    font-size: 12px;
    justify-content: center;
    padding: 5px;
    width: 35px;
    border-radius: 5px;
}
.rating+span{
    margin-left: 10px;
    font-weight: bold;
    color: gray;
}
ul{
    padding-left: 20px;
    color: gray;
    line-height: 25px;
    font-size: 15px;
    height: 200px;
    overflow: auto;
}
.price{
    font-size: 24px;
    font-weight: bold;
}
.card-price img{
    width: 60px;
}


/* LANDING PAGE CSS STYLING */
.category-element img{
    height: auto;
    width: 75px;
}

.category-element{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    
}

.categories{
    background-color: white;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}